@font-face {
    font-family: "Golos";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/GolosText-Regular.woff") format("woff2");
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/Inter-VariableFont_slntwght.ttf") format("truetype");
}

@font-face {
    font-family: "RussoOne";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/RussoOne-Regular.ttf") format("truetype");
}

body {
    font-family: Inter;
}

/* header */

.header-default .logo {
    width: 220px;
}

.header-search--inner {
    width: calc(100% - 700px);
}

@media(max-width: 1279px) {
    .header-search--inner {
        width: calc(100% - 550px);
    }
}

@media(max-width: 991px) {
    .header-search--inner {
        display: none;
    }
}

@media(min-width: 991px) {
    .header-cart.cart-mobile {
        display: none;
    }
}

.header-search input {
    border: 1px solid #C5C5C5;
    background-color: transparent;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    width: calc(100% - 53px);
    border-radius: 10px;
}

.header-search button {
    width: 48px;
    border-radius: 10px;
    border: 1px solid #C5C5C5;
}

.header-phones__inner {
    font-family: RussoOne;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: #2C5694;
}

.btn-border.callme-button {
    background: #2C5694 !important;
    border-radius: 10px;
    border: none;
    color: #fff !important;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    height: 48px;
}

.btn-border.callme-button:hover {
    background: #fff !important;
    color: #000 !important;
}

[data-fancybox] {
    cursor: pointer;
}

.header-body {
    background: #fff;
}

.catalog-inner-btn {
    background: #fff;
    border: 1px solid #3D76CA;
    color: #000;
    border-radius: 10px;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    gap: 10px;
}

.main-menu a {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #000;
    opacity: 1;
}

.main-menu a:hover {
    color: #2C5694;
    text-decoration: none;
}

.header-user__link {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 8.29px;
    color: #2C5694;
}

.catalog-burger {
    display: flex;
    align-items: center;
}

.header-body__content-right {
    gap: 25px;
}

.header-cart {
    display: flex;
    gap: 8px;
    align-items: center;
    padding-left: 0;
    margin-left: 0;
}

.header-cart .icon {
    position: relative;
}

.header-cart .icon img {
    right: 0;
}

.header-cart span.cart-number {
    border: 0.97px solid #C5C5C5;
    background: transparent;
    width: 17px;
    height: 17px;
    color: #2C5694;
    font-family: Inter;
    font-size: 9.67px;
    font-weight: 400;
    line-height: 8.29px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width:1279px) {
    .catalog-inner-btn {
        min-width: 150px;
        width: 150px;
    }

    .main-menu a {
        font-size: 13px;
    }

    .main-menu li {
        margin-right: 13px;
    }

    .main-menu {
        margin-left: 5px;
    }

    .header-default .logo {
        width: 150px;
    }
}

@media (max-width: 991px) {
    .top-header__content-right {
        padding-right: 0;
    }
}

@media (max-width: 767px) {
    .top-header__content-right {
        padding-right: 15px;
    }

    .header-cart span.cart-number {
        width: 13px;
        height: 13px;
        font-size: 7px;
        font-weight: 400;
        line-height: 6px;
        top: 4px;
        right: -13px;
    }

    .burger-menu {
        width: auto;
        height: auto;
    }
}

/* tire filter */

.tire-container {
    position: absolute;
    width: 540px;
    top: 40px;
    left: 40px;
    z-index: 10;
}

.tire-container .tabsgroup {
    margin-bottom: 0px;
}

@media(max-width: 767px) {
    .tire-container .tab-content {
        width: 100%;
    }
}

.parameter-select.disabled .selected-option:before {
    background: url(../images/filter-disabled-arrow.svg);
    background-size: cover;
}

.parameter-select .selected-option:before {
    background: url(../images/filter-black-arrow.svg);
    background-size: cover;
}

.tire-container .tabs li {
    background: #2C5694;
    border-radius: 10px;
    width: 111px;
    color: #fff;
}

.tire-container .tabs li.active {
    background: #fff;
    color: #000;
}

.tire-container .tab-content {
    /* padding: 115px 32px 32px 32px; */
    border-radius: 20px;
}

.tire-container .tabs {
    margin-bottom: 15px;
    gap: 15px;
}

.tire-container h2 {
    font-family: RussoOne;
    font-size: 22px;
    line-height: 24px;
    color: #2C5694;
    text-transform: uppercase;
}

@media(max-width: 991px) {
    .tire-container {
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
        padding: 40px 40px 0 40px;
        min-height: 100px;
    }

    .tire-container .tabs li {
        width: 192px;
    }
}

.filter-parameter span,
.filter-auto span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.tire-container .custom-toggle {
    background-color: #C5C5C5;
}

.button-parameter {
    border: 1px solid #2C5694;
    background: #2C5694;
    border-radius: 5px;
    transition: 0s;
}

.button-parameter:hover {
    background: linear-gradient(100.99deg, #3D76CA 16.37%, #010101 108.25%);
    border: 1px solid #2C5694;
    color: #fff;
}

@media(max-width: 767px) {
    .tire-container h2 {
        font-size: 18px;
        line-height: 24px;
    }

    .tire-container .tabs-slider-mobile .slider-item {
        width: 100% !important;
        border: 1px solid #2C5694;
        border-radius: 5px;
        background-color: #2C5694;
        padding: 0;
        display: flex !important;
        align-items: center;
        justify-content: center;

    }

    .slider-item__title {
        color: #fff;
        font-size: 18px;
        line-height: 24px;
    }

    .tire-container .tabs-slider-mobile .slider-item:hover,
    .tire-container .tabs-slider-mobile .slider-item.active {
        border: 1px solid #3D76CA;
        background-color: #fff;

    }

    .tire-container .tabs-slider-mobile .slider-item:hover .slider-item__title,
    .tire-container .tabs-slider-mobile .slider-item.active .slider-item__title {
        color: #000000 !important;
    }

    .tire-container .slick-list {
        overflow: visible;
    }
}

.parameter-select .selected-option {
    border-radius: 5px;
}

.parameter-select .select-search-input {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.parameter-select .select-options {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.parameter-select .select-option:hover {
    background-color: #2C5694;
}

.tire-container .tabs li:hover {
    background: #fff;
    color: #000;
}

/* home banner */

.home-banner__container {
    background: linear-gradient(105.55deg, #3D76CA 33.45%, #000000 114.32%);
    border-radius: 10px;
    position: relative;
}

.home-banner__slide {
    height: 500px;
}

.home-banner {
    margin-bottom: 0;
}

.home-banner .slide-content {
    background: transparent;
    right: 230px;
    top: 46px;
    margin: 0;

}

.home-banner__slide .image {
    position: absolute;
    width: 28%;
    right: 0;
    bottom: 35px;
}

.home-banner__title {
    font-family: RussoOne;
    font-size: 30px;
    font-weight: 400;
    line-height: 29.7px;
    color: #fff;
}

.home-banner__subtitle {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #fff;
}

.home-banner__button {
    width: 177px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #3D76CA;
    background: #3D76CA;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.home-banner__button:hover {
    background: linear-gradient(100.99deg, #3D76CA 16.37%, #010101 108.25%);
}

@media(min-width: 768px) {
    .home-banner .slide-content {
        max-width: 385px;
        position: absolute;
        left: auto;
    }
}

@media(min-width: 992px) and (max-width: 1279px) {
    .home-banner .slide-content {
        right: 0px;
        max-width: 320px;
        padding-left: 0;
    }
}

@media(min-width: 768px) and (max-width: 991px) {
    .home-banner .slide-content {
        right: auto;
        padding: 20px 40px;
    }

    .home-banner__slide {
        height: 350px;
    }

    .home-banner__slide .image {
        width: 310px;
        bottom: 70px;
    }

    .home-banner__container:after {
        width: 35%;
    }
}

@media(max-width: 767px) {
    .home-banner__button {
        width: 100%;
        margin-top: 270px;
    }

    .home-banner .slide-content {
        max-width: 100%;
        padding: 0;
        align-items: stretch;
        padding: 0 30px 0 30px;
    }

    .home-banner__slide .image {
        width: 300px;
    }

    .home-banner__slide {
        height: 550px;
    }

    .home-banner__container:after {
        width: 245px;
    }

    .home-banner__slide .image {
        bottom: 165px;
    }

    .home-banner__title {
        font-size: 24px;
        line-height: 26px;
    }

    .home-banner__container {
        background: none;
        border-radius: 0;
    }

    .home-banner {
        background: linear-gradient(127.33deg, #3D76CA 35.15%, #010101 78.1%);
    }


}

.main-slider .owl-dots {
    display: block;

}

.owl-dot span {
    display: none !important;
}

.main-slider .owl-dots {
    bottom: 30px;
    left: 50%;
    width: auto;
}

.owl-dot {
    border-radius: 0 !important;
    background: #3D76CA !important;
    border-width: 0px !important;
    width: 7px !important;
    height: 12px !important;
    transform: skew(-20deg);
}

.owl-dot.active {
    background: #fff !important;
}

.home-banner .owl-dot:not(:last-child) {
    margin-right: 6px;
}

.owl-nav {
    display: none !important;
}


/* preimushestva */
.preimushestva-section {
    margin-top: 20px;
}

@media(max-width:767px) {
    .preimushestva-section {
        margin-top: 40px;
    }
}

.preim-item {
    border-radius: 10px;
    height: 84px;
    background: linear-gradient(163.45deg, #3D76CA 19.21%, #000000 112.36%);
}

.preim-item__link {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.preim-item__link:after {
    content: '';
    position: absolute;
    width: 34px;
    height: 34px;
    right: 15px;
}

.preim-item__link.preim-1:after {
    background: url(../images/preim-1.svg) no-repeat;
    background-size: cover;
}

.preim-item__link.preim-2:after {
    background: url(../images/preim-2.svg) no-repeat;
    background-size: cover;
}

.preim-item__link.preim-3:after {
    background: url(../images/preim-3.svg) no-repeat;
    background-size: cover;
}

.preim-item__link.preim-4:after {
    background: url(../images/preim-4.svg) no-repeat;
    background-size: cover;
}

.preim-item__link.preim-5:after {
    background: url(../images/preim-5.svg) no-repeat;
    background-size: cover;
}

.preim-item__content {
    width: 62%;
    padding-left: 15px;
}

.preim-item__content-text {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.8px;
    color: #fff;
}

.preim-item:hover {
    background: #fff;
    border: 1px solid #3D76CA;
}

.preim-item:hover .preim-item__content-text {
    color: #000000;
}

.preim-item:hover .preim-item__link.preim-1:after {
    background: url(../images/preim-1-hover.svg) no-repeat;
    background-size: cover;
}

.preim-item:hover .preim-item__link.preim-2:after {
    background: url(../images/preim-2-hover.svg) no-repeat;
    background-size: cover;
}

.preim-item:hover .preim-item__link.preim-3:after {
    background: url(../images/preim-3-hover.svg) no-repeat;
    background-size: cover;
}

.preim-item:hover .preim-item__link.preim-4:after {
    background: url(../images/preim-4-hover.svg) no-repeat;
    background-size: cover;
}

.preim-item:hover .preim-item__link.preim-5:after {
    background: url(../images/preim-5-hover.svg) no-repeat;
    background-size: cover;
}

@media(max-width: 1023px) {
    .preim-item-4 {
        display: none;
    }
}

@media(max-width: 400px) {
    .preim-item__link:after {
        display: none;
    }
}

.preimushestva-section .column-gap-grid {
    column-gap: 20px !important;
}

/* product set slider */

.product-set-slider {
    margin-top: 80px;
}

@media(max-width: 767px) {
    .product-set-slider {
        padding-bottom: 40px;
    }

    .preim-item__content {
        width: 70%;
    }
}

.product-item.product-item_wide {
    border-radius: 10px;
    border: 1px solid #C5C5C5;
}

.product-item_wide .product-item__flag-content {
    top: auto;
    bottom: 0;
    left: 10px;
    width: auto;
    gap: 5px;
}

.product-item_wide .product-item__flag {
    transform: skew(-25deg);
    min-width: auto;
    padding: 0 15px;
}

.product-item_wide .product-item__flag span {
    transform: skew(25deg);
}

.product-item__flag--hit {
    width: 49px;
    background: #3D76CA;
}

.product-item__flag--sale {
    width: 66px;
    background: #BD3A34;
}

.product-item__flag--new {
    width: 78px;
    background: #278E31;
}

.product-item__name {
    font-size: 13px;
    height: auto;
    margin-bottom: 10px;
}

.product-item__parameter {
    font-family: Golos;
    line-height: 12px;
}

.product-item__parameters {
    margin-bottom: 10px;
}

.product-item__status--many {
    color: #278E31;
}

.product-item__cost-product {
    font-family: RussoOne;
    font-weight: 400;
    color: #2C5694;
}

.product-item__cost-product span {
    font-family: Golos;
    font-weight: 700;
}

.st-button_add-to-cart {
    gap: 10px;
    border-radius: 5px;
    background: #2C5694;
    border: 1.14px solid #2C5694;
}

.st-button_add-to-cart:hover {
    background: linear-gradient(100.99deg, #3D76CA 16.37%, #010101 108.25%);
}

.st-button_add-to-cart .button__title {
    font-size: 16px;
}

.product-set__title {
    font-family: RussoOne;
    font-size: 20px;
    font-weight: 400;
    color: #2C5694;
    text-transform: uppercase;
    padding-left: 280px;
    position: relative;
    margin-bottom: 44px;
}

.product-set__title::before {
    content: '';
    background: url(../images/title-lines.svg) no-repeat;
    background-size: cover;
    position: absolute;
    width: 244px;
    height: 27px;
    left: 0px;
}

@media(max-width: 991px) {
    .product-set__title {
        padding-left: 120px;
    }

    .product-set__title::before {
        left: -135px;
    }
}

@media(max-width: 767px) {
    .product-set__title {
        padding-left: 90px;
    }

    .product-set__title::before {
        left: -170px;
    }
}

.slider-constructor .slick-arrow {
    border-radius: 0;
    background: #3D76CA;
    border-color: #3D76CA;
    transform: skew(-19deg);
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -85px;
}

.slider-constructor .slick-arrow svg {
    display: none;
}

.slider-constructor .slick-arrow::before {
    content: '';
    background: url(../images/slider-arrow.svg) no-repeat;
    background-size: cover;
    position: absolute;
    width: 11px;
    height: 15px;
    transform: skew(19deg);
}

.slider-constructor .slick-next::before {
    transform: rotate(180deg) skew(19deg);
}

@media(max-width: 767px) {
    .product-set__title {
        margin-bottom: 28px;
    }

    .slider-constructor .slick-arrow {
        top: -60px;
    }
}

.slider-constructor .slick-dots {
    justify-content: center;
    bottom: -40px;
}

.slick-dots button {
    border-radius: 0;
    width: 8px;
    height: 16px;
    transform: skew(-20deg);
}

.slick-dots li:not(:last-child) {
    margin-right: 6px;
}

.slick-dots .slick-active button {
    background: #000;
    border-color: #000;
}

.slick-dots button {
    background: #3D76CA;
    border-color: #3D76CA;
}

.slider-constructor .slick-arrow:hover {
    background: linear-gradient(100.99deg, #3D76CA 16.37%, #010101 108.25%);
}

@media (max-width: 575.98px) {
    .product-set__title {
        margin-bottom: 0px;
    }
}

/* expert */

.article-item {
    border-radius: 10px;
}

.article-item img {
    width: 100%;
    height: auto;
}

.article-item__link {
    position: relative;
}

.article-item__content {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 45%;
}

.article-item__content-text {
    font-family: RussoOne;
    font-size: 14px;
    font-weight: 400;
    line-height: 15.4px;
    color: #fff;
    text-transform: uppercase;
}

.article-item__content-logo {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.article-item__content-logo {
    width: 128px;
    height: 28px;
}

@media (max-width: 767px) {
    .article-item__content-logo {
        width: 96px;
        height: 21px;
    }
}

/* about us */

.about-us {
    margin-top: 80px;
}

.about-us__container {
    padding: 70px 40px 0px 40px;
    background: url(../images/background-desktop-1.svg) no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0 0;
}

.about-us__title {
    font-family: RussoOne;
    font-size: 20px;
    font-weight: 400;
    line-height: 19.8px;
    color: #fff;
    position: relative;
    margin-bottom: 35px;
}

.about-us__title-mob {
    padding-left: 430px;
}

.about-us__title-desc {
    margin-left: 30px;
    margin-top: 7px;
}

.about-us__image img {
    width: 100%;
    height: auto;
}

.about-us__text {
    margin-left: 30px;
}

.about-us__text p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    color: #fff;
}

.about-us__button {
    margin-left: 30px;
    margin-top: 21px;
}

.about-us__button button {
    background: #3D76CA;
    border: 1px solid #3D76CA;
    width: 177px;
    height: 40px;
    box-shadow: 0px 4px 4px 0px #0000001A;
    border-radius: 5px;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

}

.about-us__button button:hover {
    background: linear-gradient(100.99deg, #3D76CA 16.37%, #010101 108.25%);

}

.about-us__title-mob {
    display: none;
}

.about-us__left {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

@media(max-width: 767px) {
    .about-us__title::before {
        content: '';
        background: url(../images/about-us-lines.svg) no-repeat;
        background-size: cover;
        position: absolute;
        width: 354px;
        height: 28px;
        left: 0px;
    }

    .about-us__title-desc {
        display: none;
    }

    .about-us__title-mob {
        display: block;
    }

    .about-us__container {
        background: none;
        padding: 40px 0 0 0;
    }

    .about-feedback-wrapper {
        background: url(../images/background-mobile-1-2.svg) no-repeat;
        background-size: cover;
        background-position: bottom;
    }

    .about-us__left {
        display: none;
    }

    .about-us__button {
        display: none;
    }

    .about-us__title {
        padding-left: 90px;
        margin-bottom: 25px;
    }

    .about-us__title::before {
        left: -316px;
    }

    .about-us__text {
        margin-left: 0px;
    }
}

/* feedback form */
.question-main {
    max-width: 100%;
    margin: 0;
}

.feedback-form__container {
    background: url(../images/background-desktop-2.svg) no-repeat;
    background-size: cover;
    padding: 70px 40px 0px 40px;
}

.section-dark.feedback-form {
    padding: 0;
}

.question-form {
    border-radius: 15px;
    border: none;
}

@media(min-width: 1280px) {
    .question-form {
        padding: 50px 227px;
    }
}

section.feedback-form .h2 {
    font-family: RussoOne;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #2C5694;
    text-transform: uppercase;
    margin-bottom: 30px;
}

section.feedback-form .form-control {
    height: 48px;
    border-radius: 10px;
    border: 1px solid #C5C5C5;
}

.content-name {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.6px;
    color: #767676;
}

.form-control:focus+.label-name .content-name {
    color: #2C5694;
}

.question-main .btn {
    width: 100%;
    height: 48px;
    border-radius: 10px;
    background: #2C5694;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    transition: .0s;
    -webkit-transition: .0s;
}

.question-main .btn:hover {
    background: linear-gradient(100.99deg, #3D76CA 16.37%, #010101 108.25%);
    border: 1px solid #2C5694;

}

textarea.form-control {
    min-height: 114px;
}

section.feedback-form .form-text {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    color: #767676;
}

@media(max-width: 767px) {
    .feedback-form__container {
        background: none;
        background-color: transparent;
        padding: 40px 0 0 0;
    }

    section.feedback-form {
        background-color: transparent !important;
    }

    section.feedback-form .form-text {
        display: none;
    }
}

/* footer */

footer {
    margin-top: 0;
    padding: 0;
    background: none;
}

.footer-container {
    background: url(../images/background-desktop-3.svg) no-repeat;
    background-size: cover;
    padding: 70px 40px 110px 40px;
}

.footer-contact__number {
    font-family: RussoOne;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.footer-contact__link {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
}

.footer-contact {
    gap: 5px;
    display: flex;
    flex-direction: column;
}

.footer-first-column .logo img {
    min-width: 208px;
}

.footer-content__title {
    font-family: RussoOne;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.1px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.footer-content__column li {
    margin-bottom: 8px;
}

.footer-content__column a {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px;
    color: #fff;
}

.footer-content__title span {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    color: #fff;
    opacity: 1;
    text-transform: none;
    margin-top: 7px;
    margin-bottom: 20px;
}

.footer-subscribe input {
    height: 48px;
    border-radius: 10px 0 0 10px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    color: #767676;
    width: calc(100% - 150px);
}

.footer-subscribe input::placeholder {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    color: #767676;
}

.footer-subscribe button {
    height: 48px;
    width: 150px;
    border-radius: 0 10px 10px 0;
    background: #2C5694 !important;
    border-color: #2C5694 !important;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
}

.footer-subscribe button:hover {
    background: linear-gradient(100.99deg, #3D76CA 16.37%, #010101 108.25%) !important;
    border: 1px solid #2C5694 !important;
}

.footer-right {
    width: 355px;
}

.footer-subscribe {
    box-shadow: 0px 4px 4px 0px #00000024;
}

.developer-link a {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.94px;
    color: #fff;
}

@media(max-width: 767px) {
    .footer-container {
        background: none;
        padding: 50px 0 0 0;
    }

    footer {
        background: url(../images/background-mobile-3.svg) no-repeat;
        background-size: cover;
        background-position: top;
    }

    .footer-content__menu .footer-content__title {
        font-size: 14px;
        font-weight: 400;
        line-height: 19.6px;
    }

    .developer-link-mobile {
        margin-top: 40px;
    }

    .footer-right {
        width: 100%;
    }

}

@media(min-width: 768px) {
    .developer-link-mobile {
        display: none;
    }
}

@media(min-width: 768px) and (max-width: 1279px) {
    .footer-right {
        width: 220px;
    }

    .footer-subscribe button {
        width: 120px;
    }

    .footer-subscribe input {
        width: calc(100% - 120px);
    }

    .footer-contact__number {
        font-size: 17px;
    }

    .footer-first-column .logo img {
        min-width: 170px;
    }

    .footer-first-column {
        width: 170px;
    }

    .footer-content__title {
        font-size: 15px;
    }
}